<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="header">
        <img src={{logo}} alt="" />
        <span>by flutterwave</span>
      </div>
      <h1 class="title">
        The easiest way to accept payments globally.
      </h1>
      <h2 class="subtitle">Click the button below to pay.</h2>
      <input type="number" #amount class="amount" placeholder="Enter Amount" (keyup.enter)="update(amount.value)" (blur)="update(amount.value)" />
      <button class="button is-primary is-large" (click)="payNow()">Pay</button>
      <a class="button is-outlined is-large">Read Angular Guide</a>
      <p class="test-cards">Use any of the cards <a target="_blank" href="https://flutterwavedevelopers.readme.io/v2.0/docs/test-cards">here</a> to test</p>
    </div>
  </div>
</section>